[tool.poetry]
name = "jinx"
version = "0.0.1"
description = ""
authors = ["Daniel Pfrommer"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
